<section id="question-margin">
    <div class="question-card">
        <h2 class="question_title question-card-header">{{question_title}}</h2>
        <div id="question-body">
            <p class="card-body">{{question_text}}</p>
            <p class="user-name-date">Posted by {{user.username}} on {{format_date date_created}}</p>
        </div>
    </div>
    {{#each comments as |comment| }}
        <div id="comment-container">
            <div class="card">
                <h3 class="card-header"> </h3>
                <div class="card-body">
                    <p>{{comment_text}}</p>
                    <p>- {{user.username}}, {{format_date date_created}}</p>
                </div>
            </div>
        </div>

    {{/each}}
    {{> add-comment }}

</section>





